# name: Dependabot post-update
name: Build blogGo (手动打包)
on:
  # 手动触发
  workflow_dispatch:
    inputs:
      branch:
        description: '指定要打包的分支 main'
        required: false
        default: 'main'
        type: string
env:
  HUSKY: '0'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.inputs.branch }}
  cancel-in-progress: true

permissions:
  contents: read
  # 若不需要PR相关操作，可改为read
  pull-requests: read

jobs:
  post-update:
    if: github.repository == 'foxiswho/blog-go-frontend'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # - macos-latest
#          - windows-latest
    steps:
        # 拉取代码
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          # 拉取手动指定的分支
          ref: ${{ github.event.inputs.branch }}

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Build
        run: |
          pnpm run build --filter=blog-sys --filter=blog-manage
      # 可选：上传打包产物，方便手动下载
      - name: 上传打包产物-manage
        uses: actions/upload-artifact@v4
        with:
          name: blogGo-dist  # 区分不同系统的产物
          path: ./apps/blog-manage/dist.zip # 替换为你项目的实际打包输出目录
          retention-days: 7 # 产物保留7天，可按需调整

      - name: 上传打包产物-sys
        uses: actions/upload-artifact@v4
        with:
          name: blogGo-dist  # 区分不同系统的产物
          path: ./apps/blog-sys/dist.zip # 替换为你项目的实际打包输出目录
          retention-days: 7 # 产物保留7天，可按需调整
